body {
  text-align: center;
  margin: 0%;
  padding: 0%;
  background: #2193b0; /* fallback for old browsers */
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}
h1 {
  margin: 0%;
  padding: 0.1%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(10, 61, 85);
    color: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.card {
  margin: 10px auto;
  padding: 3%;
  width: fit-content;
  text-align: center;
  background: #141e30; /* fallback for old browsers */
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");  border-radius: 5px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
    border:3px solid white;
    border-radius: 30px;
}

.div {
  display: inline;
}

.div img {
  border-radius: 10px;
  width: 220px;
  height: 300px;
  cursor: pointer;
  margin: 25px 25px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
    border:3px solid white;
}

.div img:hover{
    border:3px solid rgb(33, 255, 89);
}

.div :hover {
  transform: scale(1.1);
}
.container {
  text-align: center;
  width: 80%;
  margin: auto;
}

.row {
  margin: 15px;
}

.table {
  color: rgb(0, 0, 0);
  text-align: right;
}

.table button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.m-details {
  text-align: center;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
  0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.m-details img {
  width: 200px;
  height: 300px;
  margin-left: 15px;
  border:3px solid white;
  border-radius: 10px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
  0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.m-details .table {
  margin-top: 15px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
  0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
